<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>MiServletBD</servlet-name>
        <servlet-class>Controlador.MiServletBD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarLogin</servlet-name>
        <servlet-class>Controlador.GuardarLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Validar</servlet-name>
        <servlet-class>Controlador.Validar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Validar1</servlet-name>
        <servlet-class>Controlador.Validar1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarLogin1</servlet-name>
        <servlet-class>Controlador.GuardarLogin1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarUsuario</servlet-name>
        <servlet-class>Controlador.GuardarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarLibro</servlet-name>
        <servlet-class>Controlador.GuardarLibro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarLibro1</servlet-name>
        <servlet-class>Controlador.GuardarLibro1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Crud</servlet-name>
        <servlet-class>Controlador.Crud</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrudLibro</servlet-name>
        <servlet-class>Controlador.CrudLibro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrudUsuario</servlet-name>
        <servlet-class>Controlador.CrudUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarPrestamo</servlet-name>
        <servlet-class>Controlador.GuardarPrestamo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarDevolucion</servlet-name>
        <servlet-class>Controlador.GuardarDevolucion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrudPrestamo</servlet-name>
        <servlet-class>Controlador.CrudPrestamo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrudDevolucion</servlet-name>
        <servlet-class>Controlador.CrudDevolucion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarUsuario</servlet-name>
        <servlet-class>Controlador.EditarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarLibro</servlet-name>
        <servlet-class>Controlador.EditarLibro</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MiServletBD</servlet-name>
        <url-pattern>/MiServletBD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarLogin</servlet-name>
        <url-pattern>/GuardarLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Validar</servlet-name>
        <url-pattern>/Validar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Validar1</servlet-name>
        <url-pattern>/Validar1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarLogin1</servlet-name>
        <url-pattern>/GuardarLogin1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarUsuario</servlet-name>
        <url-pattern>/GuardarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarLibro</servlet-name>
        <url-pattern>/GuardarLibro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarLibro1</servlet-name>
        <url-pattern>/GuardarLibro1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Crud</servlet-name>
        <url-pattern>/Crud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrudLibro</servlet-name>
        <url-pattern>/CrudLibro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrudUsuario</servlet-name>
        <url-pattern>/CrudUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarPrestamo</servlet-name>
        <url-pattern>/GuardarPrestamo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarDevolucion</servlet-name>
        <url-pattern>/GuardarDevolucion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrudPrestamo</servlet-name>
        <url-pattern>/CrudPrestamo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrudDevolucion</servlet-name>
        <url-pattern>/CrudDevolucion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarUsuario</servlet-name>
        <url-pattern>/EditarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarLibro</servlet-name>
        <url-pattern>/EditarLibro</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
